<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.1.0/dist/cookieconsent.css">
    <script src="https://unpkg.com/htmx.org"></script>

</head>
<body>
    <header th:replace="components/navbar :: navbar"></header>
    <main>
        <h1>Login</h1>
        <form th:action="@{/login}" method="post">
            <label>Username: <input type="text" name="username" required/></label><br/>
            <label>Password: <input type="password" name="password" required/></label><br/>
            <button type="submit">Login</button>
        </form>
        <div th:if="${param.error}">
            <p style="color:red">Invalid username or password.</p>
        </div>
        <div th:if="${param.logout}">
            <p>Logged out successfully.</p>
        </div>
    </main>
    <footer th:replace="components/footer :: footer"></footer>
    <script type="module" src="/js/cookie-consent.js"></script>
</body>
</html>
