<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <header th:replace="components/navbar :: navbar"></header>
    <main>
        <h1>Register</h1>
        <form hx-post="/register" hx-target="body" hx-swap="innerHTML">
            <label>Username: <input type="text" name="username" required/></label><br/>
            <label>Password: <input type="password" name="password" required/></label><br/>
            <label>Full Name: <input type="text" name="fullName" required/></label><br/>
            <label>Email: <input type="email" name="email" required/></label><br/>
            <button type="submit">Register</button>
        </form>
        <div th:if="${registerMessage}">
            <p th:text="${registerMessage}" style="color: green;"></p>
        </div>
    </main>
    <footer th:replace="components/footer :: footer"></footer>
</body>
</html>
